<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
		<property name="hibernate.jdbc.batch_size">50</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>


		<property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property>
		<property name="hibernate.hikari.maximumPoolSize">50</property>
		<property name="hibernate.hikari.idleTimeout">300000</property>
		<property name="hibernate.hikari.dataSourceClassName"></property>
		<property name="hibernate.hikari.dataSource.url">jdbc:mysql://localhost/devsite?autoReconnect=true&amp;useUnicode=true&amp;createDatabaseIfNotExist=true&amp;characterEncoding=utf-8</property>
		<property name="hibernate.hikari.dataSource.user">root</property>
		<property name="hibernate.hikari.dataSource.password">admin@123</property>

		<mapping class="vn.ecs.team.model.Category" />
		<mapping class="vn.ecs.team.mode.Content" />
		<mapping class="vn.ecs.team.mode.Role" />
		<mapping class="vn.ecs.team.mode.RoleCategory" />
		<mapping class="vn.ecs.team.mode.User" />
		<mapping class="vn.ecs.team.mode.UserActivity" />
		<mapping class="vn.ecs.team.mode.UserRoleAsm" />


	</session-factory>
</hibernate-configuration>